*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #FFFFFF;
}
/*styles for the search bar*/
.srch_bar {
    padding-top: 3.9rem;
    padding-bottom: 4rem;
    float: right;
    margin-right: -3rem;
}
/*Style for the magnifying glass png*/
.srch_bar_magnify_g {
    max-width: 2rem;
    height: 2rem;
    float: right; 
    align-content: center;
    margin-right: 1rem;
}

.display_flex {
    display: flex;
}

.align_items_center {
    align-items: center;
}


/*the parent for pretty much all styles in the header*/
.nav_bar_flex{
    display: flex;
    list-style-type: none;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    
    
}

.line {
    background-color: #FFFFFF;
    height: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-style: solid;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}
/*styles for the buttons home, about us, products, contact us*/
.nav_flex_item{
    display: inline-block;
    margin: 0px;
    padding: 0.2rem;
    size: 2rem;
    border: none;
}
/*styles for all buttons in the header i.e.(home, about us, products, contact us, and cart)*/
.nav_button {
    background-color: transparent;
    border: transparent;
    margin: 0 1rem 0 1rem;
}
.nav {
    margin-left: 4rem;
}

.end_of_head {
    margin-right: 4rem;
}
/*style for the logo in the header*/
.cara_logo {
    max-width: 3rem;
}

.main {
    display: grid;
    color:#838282;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.main_img {
    position: relative;
    max-width: 100%;
    z-index: -1;
    display: block;
}

/*these below have been assigned to many images just to keep them under control and not to big. feel free to remove if you'd like*/
.small_image {
    max-width: 15%;
}

.space {
    padding: 2%;
    border: 1%;
    margin: 2%;

}

.welcome{
    position: relative;
    text-align: center;
    color: white;
}

.gradient{
    display: inline-block;
    background-image: linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,.70),rgba(0,0,0,1));
}

.main_img_container{
    width: 350px;
    word-wrap: break-word;
    font-size: 5rem;
}

.top_left_text{
    position: absolute;
    top:8px;
    left:16px;
    margin-left: 150rem;
    margin-right: 169rem;
    margin-top: 10rem;
    margin-left: 10rem;
    text-align: left;
    font-size: 5rem;
    font-style: normal;
    font-weight: lighter;
    
}

.bottom_right_text{
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin-left: 170rem;
    margin-right: .5rem;
    margin-bottom: 20rem;
    text-align: right;
    font-size: 5rem;
    font-style: normal;
    font-weight: lighter;
    word-spacing: 10px;
}

