*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.nav_bar_flex{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

}
.nav_flex_item{
    margin: 1rem;
}
header {
    background-color:rgb(138, 119, 36)
}


