*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*#BF7631*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #FFFFFF;
}
/*styles for the search bar*/
.srch_bar {
    padding-top: 3.9rem;
    padding-bottom: 4rem;
    float: right;
    margin-right: -3rem;
}
/*Style for the magnifying glass png*/
.srch_bar_magnify_g {
    max-width: 2rem;
    height: 2rem;
    float: right; 
    align-content: center;
    margin-right: 1rem;
}

.display_flex {
    display: flex;
}

.align_items_center {
    align-items: center;
}


/*the parent for pretty much all styles in the header*/
.nav_bar_flex{
    display: flex;
    list-style-type: none;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    
    
}

.line {
    background-color: #FFFFFF;
    height: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-style: solid;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}
/*styles for the buttons home, about us, products, contact us*/
.nav_flex_item{
    display: inline-block;
    margin: 0px;
    padding: 0.2rem;
    size: 2rem;
    border: none;
}
/*styles for all buttons in the header i.e.(home, about us, products, contact us, and cart)*/
.nav_button {
    background-color: transparent;
    border: transparent;
    margin: 0 1rem 0 1rem;
}
.nav {
    margin-left: 4rem;
}

.end_of_head {
    margin-right: 4rem;
}
/*style for the logo in the header*/
.cara_logo {
    max-width: 3rem;
}

.main {
    display: grid;
    color:#838282;
    font-size: 5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
}

.main_img {
    position: relative;
    max-width: 100%;
    z-index: -1;
    display: block;
}

.contact {
    padding: 2%;
    border: 1%;
    margin: 2%;
    background-color: aqua;
}

h1 {
    font-weight: normal;
}

h3  {
    font-size: 3rem;
    font-weight: normal;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: black;
    color: black;
    margin-right: 50rem;
    margin-left: 7rem;
    margin-bottom: 10rem;
}

h4 {
    font-size: 2rem;
    color: black;
    font-weight: normal;
}

p {
    max-width: fit-content;
    font-size: 14px;
    color: black;
}

.the_foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #BF7631;
    padding-bottom: 1rem;
    height: 12rem;
    margin-top: 10rem;
    padding-bottom: 0rem;
}

.foot_image {
    max-width: 5rem;
    margin: 1rem;
}

.foot_image_together {
    display: flex;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_logo_img {
    width: 6.5rem;
}

.finishing_text {
    background-color: #BF7631;
    display: flex;
    align-items: center;
    font-weight: lighter;
    justify-content: flex-end;
    padding-top: -15px;
}

.copyright {
    max-width: 600px;
    margin-left: 23.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

input:hover {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(20px)
        translateX(0);
    transition-property: transform;
}

.card_deck {
    display: grid;
    grid-template-areas: 
        "top-l top-c top-r"
        "mid-l mid-c mid-r"
        "bot-l bot-c bot-r";
    justify-content: space-evenly;
}

.cards {
    height: auto;
    width: 350px;
    margin-bottom: 5rem;

}
.card_image {
    width: 350px;
	height: 350px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

.product_and_value {
    width: 350px;
    display: flex;
    justify-content: space-between;
    
}

.flex_left_and_right {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.product_name {
    width: 200px;
    padding-bottom: 7px;
    border-style: solid;
    border-color: black;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
}

.product_price {
    float: right;
}

.email_message_header {
    margin-left: 15rem;
    margin-top: 3rem;
}

.email_message_input {
    font-size: 1.5rem;
    margin-left: 15rem;
    margin-top: 3rem;
}

.email {
    width: 80%;
    height: 3rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}

.message {
    width: 80%;
    height: 15rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}

.gold_button_whit_text {
    justify-self: right;
    float: right;
    margin-right: 20%;
    margin-top: 2%;
    font-size: 1.5rem;
    border: none;
    padding: .5rem 2rem;
    color: #FFFFFF;
    background-color: #BF7631;
}

.add_to_cart_button {
    justify-self: right;
    width: min-content;
    background-color: #BF7631;
    color: #FFFFFF;
    border: none;
    padding: .5rem 2rem;
    font-size: 1.5rem;
    margin-top: 8px;
}

.learn_more_button {
    color: #BF7631;
    background-color: transparent;
    border-color: #BF7631;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    padding-bottom: -1px;
}



/*these below have been assigned to many images just to keep them under control and not to big. feel free to remove if you'd like*/
.small_image {
    max-width: 15%;
}

.space {
    padding: 2%;
    border: 1%;
    margin: 2%; 
}

.welcome{
    position: relative;
    text-align: center;
    color: white;
}

.gradient {
    height: 52.9vh;
    background-color: black;
    background-image: linear-gradient(
90deg,
rgb(0, 0, 0) 15%,
rgba(0, 0, 0, 0),
rgb(0, 0, 0) 85%
),
url(../assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    object-fit: cover;
    position: relative;
    background-position: center -50px;
}

.landing_text_container {
    display: block;
    width: 350px;
    height: 1060px;
    word-wrap: break-word;
    font-size: 5rem;
    position: relative;
}

.top_left_text {
    color: white;
    width: fit-content;
    word-wrap: break-word;
    font-size: 5rem;
    display: inline-block;
    position: absolute;
    top: 210px;
    left: 721px;
    margin-right: 190rem;
    font-weight: lighter;
    font-size: 60px;
}

.bottom_right_text {
    height: 100px;
    position: absolute;
    color: white;
    font-size: 60px;
    bottom: 490px;
    left: 2760px;
    font-weight: lighter;
    text-align: right;
    margin-left: 0rem;
    width: 250px;
}

.about_left_img {
    position: relative;
    float: left;
    left: 5.7rem;
}

.about_left_text {
    position: relative;
    margin-left: 15rem;
    margin-top: 5rem;
    margin-right: 47rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    color: rgb(0,0,0);
}


.about_right_img_container{
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.about_right_text{
    margin-left: 10rem;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
}

.about_middle_text_container {
    display: inline-block;
    margin-top: 0rem;
    margin-right: 11.4px;
    margin-left: 9.2rem;
    margin-bottom: 0;
    height: 50rem;
    width: 50rem;
    font-size: 3rem;
    color: rgb(0,0,0);
}

.about_middle_text{
    position:absolute;
    text-align: center;
    font-size: 2rem;
    margin: 50rem,0rem,500rem,25rem
}

#about_rt_img {
    float: right;
    position: relative;
    bottom: 65.9rem;
    top: -16.3rem;
    left: 10rem;
    transform: scaleX(-1);
}